.movie-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  margin: 20px 0;
}

input, textarea {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #83173d;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #a83755;
}


h1{
  color: #83173d;

}